@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'th_k2d_july8regular';
    src: url('th_k2d_july8-webfont.eot');
    src: url('th_k2d_july8-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8-webfont.woff2') format('woff2'),
         url('th_k2d_july8-webfont.woff') format('woff'),
         url('th_k2d_july8-webfont.ttf') format('truetype');
    font-weight: normal;font-style: normal;
}
body{ background:#F2F2F2;padding:0; margin:0; font-family: 'th_k2d_july8regular';font-size:18px;}
ul, ol {    list-style: outside none none;}
a {    text-decoration: none;}
.clear:before,.clear:after {   content: " ";display: table;}
.clear:after {  clear: both;}
.clearfix:after { content: "."; visibility: hidden; display: block;height: 0;clear: both;}
#top_menu{background:#E9E2D2; height:100px;border-bottom:inset 2px #C1A053;margin-top:0px;
}
.news_topic{color:#FFFFFF;font-size:24px;font-weight:600;}
#box_top{ width:100%; margin:0 auto;}
.box { 	width:100%;/*height:300px;*/background:#FFF; border:1px solid #C1C0BE;}
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
/*search*/

/* Form submit button */
.form-wrapper button {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    width: 110px;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #f5ca20;
    border-radius: 0 3px 3px 0;     
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}  
   
.form-wrapper button:hover{    
    background: #f5ca20;
}  
   
.form-wrapper button:active,
.form-wrapper button:focus{  
    background: #f5ca20;
    outline: 0;  
}
 
.form-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #f5ca20 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #ffbc12;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #ffbc12;
}     
 
.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
/*Slider*/
.captionOrange, .captionBlack
{
	color: #fff;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	border-radius: 4px;
}
.captionOrange
{
	background: #fcaf08;
	background-color: rgba(235, 81, 0, 0.6);
}
.captionBlack
{
	font-size:16px;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
}
a.captionOrange, A.captionOrange:active, A.captionOrange:visited
{
	color: #ffffff;
	text-decoration: none;
}
a.captionOrange:hover
{
	color: #fcaf08;
	text-decoration : none;
	background-color: #eeeeee;
	background-color: rgba(238, 238, 238, 0.7);
}

#nav{
	font-family:"th_k2d_july8regular",sans-serif;
    font-weight:600;
    left: 50%;
    margin-left: -16em;
    position: absolute;
    top: 30px;
    width: 45em;
	}
#nav > a{	display: none;}
#nav li , #nav dt{	position: relative;/*background-color: #70458C;*/
background: #72638c; /* Old browsers */
background: -moz-linear-gradient(top,  #72638c 0%, #72638c 40%, #56358f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#72638c), color-stop(40%,#72638c), color-stop(100%,#56358f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #72638c 0%,#72638c 40%,#56358f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #72638c 0%,#72638c 40%,#56358f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #72638c 0%,#72638c 40%,#56358f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #72638c 0%,#72638c 40%,#56358f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72638c', endColorstr='#56358f',GradientType=0 ); /* IE6-9 */

}
#nav li a , #nav dt a{color: #fff;display: block;text-decoration : none;	}
#nav li a:active , #nav dt a:active{background-color: #fcaf08 !important;	}
#nav span:after
{
	width: 0;
	height: 0;
	border: 0.313em solid transparent; /* 5 */
	border-bottom: none;
	border-top-color: #E5E7E6;
	content: '';
	vertical-align: middle;
	display: inline-block;
	position: relative;
	right: 0em; /* 5 */
}
/* first level */
#nav > ul{ padding:0px; margin:0;

			}
	#nav > ul > dt	{width: 19%;height: 100%;float: left;	}
	#nav > ul > li	{width: 16%;height: 100%;float: left;	}
		#nav > ul > li > a , #nav > ul > dt > a
		{	height: 100%;font-size: 18px;line-height: 2.5em;text-align: center;	}
			#nav > ul > li:not( :last-child ) > a , #nav > ul > dt:not( :last-child ) > a
			{border-right: 1px solid #E5E7E6;}
			#nav > ul > li:hover > a,
			#nav > ul:not( :hover ) > li.active > a,
			#nav > ul > dt:hover > a,
			#nav > ul:not( :hover ) > dt.active > a
			{background-color: #8C4DB5;	}

	/* second level */
	#nav li ul	{/*background-color: #70458C;*/display: none;position: absolute;top: 100%;width:100%;	}
		#nav li:hover ul{	display: block;left: 0;right: 0;}
			#nav li:not( :first-child ):hover ul
			{	left: -1px;	}
			#nav li ul a{font-size: 19px;border-top: 1px solid #673b83;padding: 0.5em;	}
				#nav li ul li a:hover,
				#nav li ul:not( :hover ) li.active a
				{background-color: #8C4DB5;text-decoration:none;	}

		@media only screen and ( max-width: 62.5em ) /* 1000 */
		{
			#nav{width: 100%;position: static;margin: 0;}
		}

		@media only screen and ( max-width: 40em ) /* 640 */
		{
			html{font-size: 75%;}
			#nav{position: relative;top: auto;left: auto;z-index:10;}
				#nav > a
				{
					width: 2em; /* 50 */
					height: 2em; /* 50 */
					text-align: left;
					text-indent: -9999px;
					background-color: #FF8E20;
					position: relative;
				}
				#nav > a:before,
				#nav > a:after
				{position: absolute;border: 2px solid #fff;top: 25%;left: 25%;right: 25%;content: '';}
				#nav > a:after{top: 60%;}
				#nav:not( :target ) > a:first-of-type,
				#nav:target > a:last-of-type{display: block;}

			/* first level */
			#nav > ul{	height: auto;display: none;position: absolute;left: 0;right: 0;	}
				#nav:target > ul{display: block;}
				#nav > ul > li{	width: 100%;float: none;text-align: left;}
					#nav > ul > li > a
					{height: auto;text-align: left;padding: 0 0.833em;text-decoration:none;	}
						#nav > ul > li:not( :last-child ) > a
						{border-right: none;border-bottom: 1px solid #8C4DB5;text-decoration:none;}
				/* second level */
				#nav li ul	{position: static;/*padding: 1.25em;*/padding-top: 0;}
		}
.img-thumbnail {
	background-color: #fff;
	border: 1px solid #ddd;
	display: inline-block;
	height: auto;
	line-height: 1.42857;
	max-width: 100%;
	padding: 4px;
	transition: all 0.2s ease-in-out 0s;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
input[type="search"] {
  display: block;
  margin-top: -15px;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="search"]:focus {
  outline: none;
}
.style-5 input[type="search"] {
  padding: 5px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
}
.style-5 input[type="search"]:focus,
.style-5 input[type="search"].focus {
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}
.textsize{
	font-size: 20px;
}
.box_contact{
	font-family: 'th_k2d_july8regular';
	font-size: 18px;
}
.rating {
    overflow: hidden;
    display: inline-block;
    font-size: 0;
    position: relative;
}
.rating-input {
    float: right;
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0 0 0 -16px;
    opacity: 0;
}
.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}
.rating-star,
.rating:hover .rating-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.btn_popup{
	 font-weight: bold; 
	 font-size: 16px;
}
.blog{
 	background-color:#400480;
    box-shadow: 5px 5px 10px #000; 
 	margin-top: 30px;
 	margin-bottom: 30px;
 	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     border-radius: 5px;
    color: #fff;
    padding: 15px;
}
.text{
	font-size: 20px;
	color: #000;
	margin-top: 15px;
}
.btn {
    padding-left: 14px;
    padding-right: 14px;
    margin: 0px;
  }
.textbtn{
	font-size: 16px;
	font-weight: bold;
}
.textinput{
	font-size: 16px;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  line-height: 1;
}
#cssmenu > ul > li {
  float: left;
  cursor: pointer;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 16px 20px;
  color: #f2e6f7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:bold;
  background: #5b0483;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#cssmenu > ul > li.active > a {
  color: #fff;
  background-color: #fbcb04;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #fff;
  -webkit-transform: rotateX(90deg) translateY(-23px);
  -moz-transform: rotateX(90deg) translateY(-23px);
  transform: rotateX(90deg) translateY(-23px);
  -ms-transform: none;
}
#cssmenu > ul > li > a::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 16px 20px;
  color: #fff;
  background: #4a046a;
  content: attr(data-title);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -ms-transform: translateY(- -18px);
}
#cssmenu > ul > li:hover > a::before,
#cssmenu > ul > li > a:hover::before {
  background: #fbcb04;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
/*   width: 100%; */
/*   text-align: left; */
  height: auto;display: none;position: absolute;left: 0;right: 0;
}
/* #cssmenu.small-screen > ul > li{	width: 100%;float: none;text-align: left;} */
/* 					#cssmenu.small-screen > ul > li > a */
/* 					{height: auto;text-align: left;padding: 0 0.833em;text-decoration:none;	} */
/* 						#cssmenu.small-screen > ul > li:not( :last-child ) > a */
/* 						{border-right: none;border-bottom: 1px solid #8C4DB5;text-decoration:none;} */
/* 				/* second level */ */
/* 				#cssmenu.small-screen li ul	{position: static;/*padding: 1.25em;*/padding-top: 0;} */
#cssmenu.small-screen:target > ul{display: block;}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid #fff;
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > a:hover {
  color: #fff;
  font-weight:bold;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > a::before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 16px 20px;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
//  background: #5b0483;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 20px;
  top: 17px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #fb8d04;
  border-bottom: 2px solid #fb8d04;
  width: 22px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #fb8d04;
  border-bottom: 2px solid #fb8d04;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 20px;
  top: 27px;
  display: block;
  width: 22px;
  height: 2px;
  background: #fb8d04;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #fb8d04;
}


#cssmenu.small-screen.align-center > ul li ui{
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li:hover > a,
#cssmenu.small-screen > ul > li > ul > li a:hover {
  color: #fff;
  font-weight:bold;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -ms-transform: none;
}
#cssmenu.small-screen > ul > li > ul > li a::before {
  display: none;
}
#cssmenu.small-screen > ul > li > ul > li a.active {
  background-color: #fbcb04;
}

#cssmenu ul li ul {
  margin-left: -10px; 
  position: absolute;
  text-decoration:none;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
#cssmenu ul li ul li { 
  background: #5b0483; 
  display: block; 
  color: #fff;
}
#cssmenu ul li ul li:hover { 
	background: #7e06b4; 
}
#cssmenu ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#cssmenu ul li ul li:hover a {
  color: #fff;
}
#cssmenu > ul > li > ul > li > a {
  padding: 16px 5px;
  color: #e5cdf0;
  letter-spacing: 1px;
  text-transform: uppercase; 
  text-decoration: none;
  font-weight:bold;
  background: #5b0483;
} 

ul.v_menu{ /* กำหนดขอบเขตของเมนู */  
     list-style:none;  
     margin-left:10px;  
     padding:0px;  
     width:250px;   
 }  
 ul.v_menu > li{ /* กำหนดรูปแบบให้กับเมนูเ */  
     display:block;  
     padding: 10px 0px 10px 0px;  
     text-indent:15px;
     -webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 }  
 ul.v_menu > li:hover{ /* กำหนดรูปแบบให้กับเมนูเมื่อมีเมาส์อยู่เหนือ */  
     display:block;  
     padding: 10px 0px 10px 0px;   
     background:#eae8ec;
     text-indent:15px;
     -webkit-border-radius: 5px;
 	-moz-border-radius: 5px;
 	border-radius: 5px;
 	
 }  
 ul.v_menu > li.active,ul.v_menu > li > a:active{ /* กำหนดรูปแบบให้กับลิ้งค์ */  
     display:block;  
      padding: 10px 0px 10px 0px; 
      text-indent:15px;   
      background-color:#7105a2;
      -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	font-weight: bold;
  	color: #ffffff;
 }
 ul.v_menu > li > a{ /* กำหนดรูปแบบให้กับลิ้งค์ */  
     text-decoration:none;  
     color:#000;  
    
 }
 ul.v_menu > li > a:HOVER{ /* กำหนดรูปแบบให้กับลิ้งค์ */  
     text-decoration:none;  
     color:#000;  
 }
 ul.v_menu > li > a:active{ /* กำหนดรูปแบบให้กับลิ้งค์ */  
     text-decoration:none;  
     color:#fff; 
 }
/*====footer========*/
#footer{height:240px; background:#817F80;color: #FFFFFF;}
#footer_body{padding-top:30px; padding-bottom:30px; }
.box_contact{float:left; width:450px;color:#FFF;}
.topic_contact{font-size:20px;font-weight:500;}