@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'th_k2d_july8regular';
    src: url('th_k2d_july8-webfont.eot');
    src: url('th_k2d_july8-webfont.eot?#iefix') format('embedded-opentype'),
         url('th_k2d_july8-webfont.woff2') format('woff2'),
         url('th_k2d_july8-webfont.woff') format('woff'),
         url('th_k2d_july8-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{ background:#EEEDE9;padding:0; margin:0; font-family: 'th_k2d_july8regular';font-size:18px;}
ul, ol {    list-style: outside none none;}

a {    text-decoration: none;}
.nav_l{ width:800px; }
.top{background:#474745; height:45px; }
#navcontainer ul{text-align:left;font-family: 'th_k2d_july8regular';font-size:20px; color:#ffffff; font-weight:bold;margin-top:10px;}
#navcontainer ul li { display: inline; }
#navcontainer ul li a{text-decoration: none;color: #ffffff;}
#navcontainer ul li a:hover,#navcontainer ul li .focus{color: #FF9934;}
.clear:before,.clear:after {
    content: " ";display: table;
}
.clear:after {  clear: both;}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.b_logo{height:115px;width:1150px; margin:0 auto;}
/*==================================================
 * Effect 3
 * ===============================================*/
.box { 	width:740px;height:300px;background:#FFF; border:1px solid #C1C0BE;}
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
.box2 { 	width:215px;height:215px;background:#FFF; border:1px solid #C1C0BE;}
.effect2{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
/*====news========*/
.box_news:before,.box_news:after {
    content: " ";display: table; padding-top:20px;
}
.box_news:after {    clear: both;}
.box3 {width:290px;height:220px;background:#FFF; margin-left:10px; border:1px solid #C1C0BE;}
.effect3{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
#btn_news {
  background: #DE4563;
  background-image: -webkit-linear-gradient(top, #DE4563, #b82744);
  background-image: -moz-linear-gradient(top, #DE4563, #b82744);
  background-image: -ms-linear-gradient(top, #DE4563, #b82744);
  background-image: -o-linear-gradient(top, #DE4563, #b82744);
  background-image: linear-gradient(to bottom, #DE4563, #b82744);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px; width:100px;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}
#btn_news:hover {
  background: #e0617a;
  text-decoration: none;
}
/*====footer========*/
#footer{height:240px; background:#817F80;color: #FFFFFF;}
#footer_body{width:1150px; margin:0 auto; padding-top:30px; font-size:18px; }
.form-control {
    background-color: #F690A5;
    background-image: none;
    border: 1px solid #F690A5;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control:focus {
    border-color: #F690A5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.form-control::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}
.form-control2 {
    background-color: #F690A5;
    background-image: none;
    border: 1px solid #F690A5;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width:480px;
}
.form-control2:focus {
    border-color: #F690A5;color: #FFFFFF;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.form-control2::-moz-placeholder {
    color: #FFFFFF;
    opacity: 1;
}
.btn_contact {
	-moz-box-shadow:inset 0px -3px 7px 0px #DE4563;
	-webkit-box-shadow:inset 0px -3px 7px 0px #DE4563;
	box-shadow:inset 0px -3px 7px 0px #DE4563;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DE4563), color-stop(1, #DE4563));
	background:-moz-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-webkit-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-o-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-ms-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:linear-gradient(to bottom, #DE4563 5%, #DE4563 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE4563', endColorstr='#DE4563',GradientType=0);
	background-color:#DE4563;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #DE4563;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.btn_contact:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #DE4563), color-stop(1, #DE4563));
	background:-moz-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-webkit-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-o-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:-ms-linear-gradient(top, #DE4563 5%, #DE4563 100%);
	background:linear-gradient(to bottom, #DE4563 5%, #DE4563 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DE4563', endColorstr='#DE4563',GradientType=0);
	background-color:#DE4563;
}
.btn_contact:active {
	position:relative;
	top:1px;
}


